.productsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.productsList a {
  display: inline-block;
}

a {
  display: inline-block;
}

.productsDiv {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
}

.productsDiv img {
  /* border: 1px solid yellow; */
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
