.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.imageContainer {
  max-width: 400px;
  margin-bottom: 20px;
}

.infoConteiner {
  text-align: center;
  max-width: 500px;
}

.addToCartButton {
  background-color: #313131;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.addToCartButton:hover {
  background-color: #272727;
}

.addToCartButton:active {
  background-color: #003504;
}
